<ol class="items-list">
  {{#each system.wounds as |wound key|}}
  <li class="item flexrow items-header">{{wound.label}}</li>
  <table>
  <tr>
    <th>Level 1</th>
    <th>Level 2</th>
    <th>Level 3</th>
    <th>Level 4</th>
    <th>Level 5</th>
  </tr>
  <tr>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds1.1st" {{checked wound.wounds1.1st}} value= "{{wound.wounds1.1st}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds2.1st" {{checked wound.wounds2.1st}} value= "{{wound.wounds2.1st}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds3.1st" {{checked wound.wounds3.1st}} value= "{{wound.wounds3.1st}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds4.1st" {{checked wound.wounds4.1st}} value= "{{wound.wounds4.1st}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds5.1st" {{checked wound.wounds5.1st}} value= "{{wound.wounds5.1st}}" data-dtype= "Boolean"/></td>
  </tr>
  <tr>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds1.2nd" {{checked wound.wounds1.2nd}} value= "{{wound.wounds1.2nd}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds2.2nd" {{checked wound.wounds2.2nd}} value= "{{wound.wounds2.2nd}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds3.2nd" {{checked wound.wounds3.2nd}} value= "{{wound.wounds3.2nd}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds4.2nd" {{checked wound.wounds4.2nd}} value= "{{wound.wounds4.2nd}}" data-dtype= "Boolean"/></td>
    <td style = "text-align:center;"><input type = "checkbox" name = "system.wounds.{{key}}.wounds5.2nd" {{checked wound.wounds5.2nd}} value= "{{wound.wounds5.2nd}}" data-dtype= "Boolean"/></td>
  </tr>
</table>
    
  {{/each}}
</ol>