.constantbar {
   flex: 0 0 120px !important;
   overflow: hidden;
   white-space: nowrap;
}

.sidebarcontainer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    width: 120px;
    display: flex;
    flex-direction: column;
 }

 .sidebartop {
   background-image: url(../assets/ui/SoTSidebarTop.png);
   background-repeat: no-repeat;
   background-size:100% 55px;
   height:55px
 }

 .sidebarmiddle {
   background-image: url(../assets/ui/SoTSidebarMiddle.png);
   background-repeat: no-repeat;
   background-size:100% 100%;
 }

 .sidebarbottom {
   background-image: url(../assets/ui/SoTSidebarBottom.png);
   background-repeat: no-repeat;
   background-size:100% 55px;
   height:55px
 }

 .overlaybackground {
    //background-color: rgb(5, 100, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    //width: 200px;
    color: $c-paper;
    justify-content: center;
 }

 .attributeholder {
   justify-content: center;
   justify-content: space-around;
   font-family: $font-fmbolyarpro300;
 }

 .attributelayout {
   background-image: url(../assets/ui/SoTAttributeHolder.png);
   background-repeat: no-repeat;
   background-size: 100px 75px;
   background-position: center;
   padding: 40px;
   color: black;
   height: 200px;
   width: 100px;
   justify-content: center;
   margin: auto;
   position: relative;
 }

 .attribute-mod {
   font-size: x-large;
   font-weight: bold;
   position: absolute;
   top: 10px;
   font-family: $font-fmbolyarpro300;
 }

 .attributeinput {
   flex: none;
   align-items: flex-end;
   position: absolute;
   bottom: 2px;
   left: 1px;
   width: 38px !important;
   height: 38px !important;
   border-style: none;
   font-family: $font-fmbolyarpro300;
   border-radius: 50% !important;
 }

 .attributelogo {
   position: absolute;
   bottom: 10px;
 }

 .attributelabel {
   font-size: 11px;
 }

 /* bevel size, left offset and color settings next 3 lines */ 
 .bvc { left: -15px }
 .bevel, .content { border-width: 15px }
 .bevel, .content { 
   //border-color: rgb(5, 100, 0); 
   //border-style:solid;
 }

.bvc {
    //width: 90%; /* width of overall box, variable or fixed */ 
    margin: 0 auto;
    display: inline-block;
    //position: relative;
    margin-bottom: 15px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { 
   height: 0px;
   //width: 200px; 
   width: 100%; 
}
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.no_bevel { 
   height: 0px; 
   //width: 100%; 
   border-bottom: 0; 
}